.hero-section {
  background-size: cover;
  max-width: 1600px;
  width: 100%;
  padding: 200px 15px;
  margin: 0 auto;

  background-color: var(--top-section-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/hero/hero-img-mob-1x.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-color: var(--top-section-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero/hero-img-mob-2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-color: var(--top-section-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero/hero-img-tab-1x.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-color: var(--top-section-background-color);
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/hero/hero-img-tab-2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    background-color: var(--top-section-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero/hero-img.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-color: var(--top-section-background-color);
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/hero/hero-img-bg-2x.jpg');
    }
  }
}

.hero-section-content {
  @media screen and (max-width: 1199px) {
    width: 360px;
    margin: 0 auto;
  }
}
.hero-title {
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }

  color: var(--main-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 660px;
  margin: 0px auto;
  text-align: center;
}

.hero-btn {
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
