.hero-section {
  background-color: var(--top-section-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-Img.jpg');
  max-width: 1600px;
  width: 100%;
  padding: 200px 15px;
  margin: 0 auto;
}

.hero-title {
  color: var(--main-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 660px;
  margin: 0px auto;
  text-align: center;
}

.hero-btn {
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
