.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item {
  background-color: #fff;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member {
  text-align: center;
  &.social {
    color: var(--color-item);
  }
}

.name-title {
  margin-top: 30px;
}

.position-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 10px;
}

.person-social {
  margin-top: 16px;
  &:not(:last-child) {
    margin-right: 10px;
  }
  & > .social-link:hover,
  & > .social-link:focus {
    color: var(--main-text-color);
    background-color: var(--accent-color);
  }
  & > .social-link {
    color: var(--color-item);
  }
}

.social-logo {
  fill: currentColor;
}
